<!DOCTYPE html>
<html>
  <head>
      <title>Blogz</title>
      <style>
            .error {
                color: red;
            }
      </style>
  </head>
<body>
    <nav>
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="{{category}}">
                {{message|safe}}
                </div>
            {% endfor %}
        {% endwith %}
    <br />
    <br />
        <!-- These links work now! :) -->
        <a href="/blog">Main Blog Page</a> | <a href="/login">Log In</a> | <a href="/newpost">Add New Post</a> | <a href="/logout">Log Out</a>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>